ELECTORAL ROLL - EAST DUNBARTONSHIRE

In [8]:
# I removed the regional tabs in excel, created a new column for Sex, saved the file as a .csv and renamed the new file "Electoral Role - East Dunbartonshire - ALL.csv"

In [ ]:
# To load the .csv data into a database called "EastDunExplore"

In [9]:
EastDunExplore <- read.csv("Electoral Role - East Dunbartonshire - ALL.csv")

In [ ]:
# Get a summary of the data using the str() or summary() functions

In [10]:
str(EastDunExplore)

'data.frame':	50417 obs. of  21 variables:
 $ PD                : Factor w/ 51 levels "CS50","CS51",..: 5 5 5 5 5 5 5 5 5 51 ...
 $ ENO               : num  1 2 3 4 5 6 7 8 9 1 ...
 $ Status            : Factor w/ 3 levels "A","E","M": 2 2 2 2 2 2 2 2 2 2 ...
 $ Title             : Factor w/ 7 levels "","DR","LADY",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ Sex               : Factor w/ 3 levels "","Female","Male": 1 1 1 1 3 1 1 1 1 1 ...
 $ First.Name        : Factor w/ 3630 levels "Aaron","Aarti",..: 945 1147 1147 199 1632 2937 1324 1521 3552 1512 ...
 $ Middle.Initials   : Factor w/ 1186 levels "","A","A A","A B",..: 1 1 526 1 1 1 1 1 1 14 ...
 $ Surname           : Factor w/ 6076 levels "Abbas","Abbinnett",..: 3983 3983 3983 5499 5499 5499 1991 1991 1991 4494 ...
 $ Suffix            : Factor w/ 8 levels "","JNR","JR",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ Date.Of.Attainment: Factor w/ 258 levels "","01/01/17",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ Franchise.Flag    : Factor w/ 4 levels "","F","G","L": 1 1 1 1 1 1 1 1 1 1 ...
 $ Address.1         : Factor w/ 26955 levels "1  BALJAFFRAY COTTAGES",..: 18005 18005 18005 19071 19071 19071 19377 19377 19377 153 ...
 $ Address.2         : Factor w/ 703 levels "1, AUCHINAIRN ROAD",..: 633 633 633 633 633 633 633 633 633 633 ...
 $ Address.3         : Factor w/ 23 levels "","BALMORE","BARDOWIE",..: 13 13 13 13 13 13 13 13 13 14 ...
 $ Address.4         : Factor w/ 6 levels "","CAMPSIE GLEN",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ Address.5         : Factor w/ 2 levels "","EAST DUNBARTONSHIRE": 1 1 1 1 1 1 1 1 1 1 ...
 $ Address.6         : logi  NA NA NA NA NA NA ...
 $ Address.7         : logi  NA NA NA NA NA NA ...
 $ Address.8         : logi  NA NA NA NA NA NA ...
 $ Address.9         : logi  NA NA NA NA NA NA ...
 $ Postcode          : Factor w/ 2869 levels "","G33 1SA","G33 1SZ",..: 2137 2137 2137 2137 2137 2137 2137 2137 2137 2274 ...

In [ ]:
# You can see from the str() output that there are 50,417 total rows of data and 21 variables. 
# You can also see that there are 3630 different first names in the data

In [15]:
install.packages('plyr')

Updating HTML index of packages in '.Library'
Making 'packages.html' ... done

In [16]:
library(plyr)

In [41]:
# Subset the NameFreq data-frame to get a new data-frame that only contains First names that occur more than 200 times
FirstName200 <- subset(NameFreq, NameFreq$freq > 200)

In [42]:
str(FirstName200)

'data.frame':	59 obs. of  2 variables:
 $ First.Name: Factor w/ 3630 levels "Aaron","Aarti",..: 51 91 112 139 222 233 253 268 490 579 ...
 $ freq      : int  266 409 393 258 669 206 246 505 328 549 ...

In [43]:
# Produce a table of First Names and Frequency so that I can get a list of the most popular names. 
MostPopular <- count(FirstName200, 'First.Name')
MostPopular[order(MostPopular$freq, decreasing=TRUE), ]

Using freq as weighting variable

   First.Name  freq
34 John        1710
29 James       1421
16 David       1237
40 Margaret    1228
59 William      974
50 Robert       866
19 Elizabeth    841
43 Mary         781
5  Andrew       669
58 Thomas       588
10 Catherine    549
8  Anne         505
24 Helen        450
26 Ian          435
45 Michael      419
48 Paul         414
2  Alan         409
54 Stephen      394
3  Alexander    393
21 George       387
49 Peter        368
23 Gordon       359
32 Jean         357
20 Fiona        337
39 Linda        329
9  Brian        328
36 Karen        315
47 Patricia     308
41 Mark         303
56 Stuart       294
57 Susan        294
11 Christine    291
37 Kenneth      288
28 Jacqueline   279
22 Gillian      277
53 Scott        276
33 Jennifer     270
1  Agnes        266
15 Craig        266
14 Colin        265
38 Laura        262
12 Christopher  259
4  Alison       258
18 Elaine       249
7  Ann          246
27 Irene        242
42 Martin       241
17 Douglas      235
44 Maureen      232
30 Jane         228
25 Iain         222
35 Joseph       216
31 Janet        214
55 Steven       214
46 Nicola       209
52 Sarah        208
6  Angela       206
13 Claire       204
51 Ross         202

In [ ]:
# Insert "Male" or "Female" or "?" as the value for the variable "Sex" in the original data-base for the most popular names
# Note: A "?" means either that it is unknown whether the name is male or female OR that the name is used for both sexes.

In [44]:
EastDunExplore$Sex[EastDunExplore$First.Name=="John"]<-"Male"
EastDunExplore$Sex[EastDunExplore$First.Name=="James"]<-"Male"
EastDunExplore$Sex[EastDunExplore$First.Name=="David"]<-"Male"
EastDunExplore$Sex[EastDunExplore$First.Name=="Margaret"]<-"Female"
EastDunExplore$Sex[EastDunExplore$First.Name=="William"]<-"Male"
EastDunExplore$Sex[EastDunExplore$First.Name=="Robert"]<-"Male"
EastDunExplore$Sex[EastDunExplore$First.Name=="Elizabeth"]<-"Female"
EastDunExplore$Sex[EastDunExplore$First.Name=="Mary"]<-"Female"
EastDunExplore$Sex[EastDunExplore$First.Name=="Andrew"]<-"Male"
EastDunExplore$Sex[EastDunExplore$First.Name=="Thomas"]<-"Male"
EastDunExplore$Sex[EastDunExplore$First.Name=="Catherine"]<-"Female"
EastDunExplore$Sex[EastDunExplore$First.Name=="Anne"]<-"Female"
EastDunExplore$Sex[EastDunExplore$First.Name=="Helen"]<-"Female"
EastDunExplore$Sex[EastDunExplore$First.Name=="Ian"]<-"Male"
EastDunExplore$Sex[EastDunExplore$First.Name=="Michael"]<-"Male"
EastDunExplore$Sex[EastDunExplore$First.Name=="Paul"]<-"Male"
EastDunExplore$Sex[EastDunExplore$First.Name=="Alan"]<-"Male"
EastDunExplore$Sex[EastDunExplore$First.Name=="Stephen"]<-"Male"
EastDunExplore$Sex[EastDunExplore$First.Name=="Alexander"]<-"Male"
EastDunExplore$Sex[EastDunExplore$First.Name=="George"]<-"Male"
EastDunExplore$Sex[EastDunExplore$First.Name=="Peter"]<-"Male"
EastDunExplore$Sex[EastDunExplore$First.Name=="Gordon"]<-"Male"
EastDunExplore$Sex[EastDunExplore$First.Name=="Jean"]<-"Female"
EastDunExplore$Sex[EastDunExplore$First.Name=="Fiona"]<-"Female"
EastDunExplore$Sex[EastDunExplore$First.Name=="Linda"]<-"Female"
EastDunExplore$Sex[EastDunExplore$First.Name=="Brian"]<-"Male"
EastDunExplore$Sex[EastDunExplore$First.Name=="Karen"]<-"Female"
EastDunExplore$Sex[EastDunExplore$First.Name=="Mark"]<-"Male"
EastDunExplore$Sex[EastDunExplore$First.Name=="Stuart"]<-"Female"
EastDunExplore$Sex[EastDunExplore$First.Name=="Susan"]<-"Female"
EastDunExplore$Sex[EastDunExplore$First.Name=="Christine"]<-"Female"
EastDunExplore$Sex[EastDunExplore$First.Name=="Kenneth"]<-"Male"
EastDunExplore$Sex[EastDunExplore$First.Name=="Jacqueline"]<-"Female"
EastDunExplore$Sex[EastDunExplore$First.Name=="Gillian"]<-"Female"
EastDunExplore$Sex[EastDunExplore$First.Name=="Scott"]<-"Male"
EastDunExplore$Sex[EastDunExplore$First.Name=="Jennifer"]<-"Female"
EastDunExplore$Sex[EastDunExplore$First.Name=="Agnes"]<-"Female"
EastDunExplore$Sex[EastDunExplore$First.Name=="Craig"]<-"Male"
EastDunExplore$Sex[EastDunExplore$First.Name=="Colin"]<-"Male"
EastDunExplore$Sex[EastDunExplore$First.Name=="Laura"]<-"Female"
EastDunExplore$Sex[EastDunExplore$First.Name=="Christopher"]<-"Male"
EastDunExplore$Sex[EastDunExplore$First.Name=="Alison"]<-"Female"
EastDunExplore$Sex[EastDunExplore$First.Name=="Elaine"]<-"Female"
EastDunExplore$Sex[EastDunExplore$First.Name=="Ann"]<-"Female"
EastDunExplore$Sex[EastDunExplore$First.Name=="Irene"]<-"Female"
EastDunExplore$Sex[EastDunExplore$First.Name=="Martin"]<-"Male"
EastDunExplore$Sex[EastDunExplore$First.Name=="Douglas"]<-"Male"
EastDunExplore$Sex[EastDunExplore$First.Name=="Maureen"]<-"Female"
EastDunExplore$Sex[EastDunExplore$First.Name=="Jane"]<-"Female"
EastDunExplore$Sex[EastDunExplore$First.Name=="Iain"]<-"Male"
EastDunExplore$Sex[EastDunExplore$First.Name=="Joseph"]<-"Male"
EastDunExplore$Sex[EastDunExplore$First.Name=="Janet"]<-"Female"
EastDunExplore$Sex[EastDunExplore$First.Name=="Steven"]<-"Male"
EastDunExplore$Sex[EastDunExplore$First.Name=="Nicola"]<-"Female"
EastDunExplore$Sex[EastDunExplore$First.Name=="Sarah"]<-"Female"
EastDunExplore$Sex[EastDunExplore$First.Name=="Angela"]<-"Female"
EastDunExplore$Sex[EastDunExplore$First.Name=="Claire"]<-"Female"
EastDunExplore$Sex[EastDunExplore$First.Name=="Ross"]<-"Male"

In [45]:
# To get a summary of how many rows now have a value for Sex
# 1 represents a blank cell
summary(EastDunExplore$Sex)

       Female   Male
 25516  10507  14394

In [52]:
# From above 25,516 rows are still blank so need to do more of the above. 
# Subset the NameFreq data-frame to get a new data-frame that only contains First names that occur more between 150-200 times
FirstName100_200 <- subset(NameFreq, NameFreq$freq > 100 & NameFreq$freq < 200)
str(FirstName100_200)

'data.frame':	58 obs. of  2 variables:
 $ First.Name: Factor w/ 3630 levels "Aaron","Aarti",..: 62 142 149 170 285 411 547 558 613 650 ...
 $ freq      : int  106 119 176 107 115 119 195 171 179 112 ...

In [140]:
MostPopular <- count(FirstName100_200, 'First.Name')
MostPopular[order(MostPopular$freq, decreasing=TRUE), ]

Using freq as weighting variable

   First.Name freq
36 Lesley     199
53 Richard    196
7  Carol      195
21 Gary       192
33 Kathleen   192
9  Charles    179
3  Allan      176
32 Julie      174
24 Graham     173
8  Caroline   171
11 Daniel     170
14 Donald     170
43 Marion     167
34 Kevin      163
54 Ronald     162
17 Emma       161
55 Sharon     161
15 Edward     160
23 Graeme     156
48 Neil       156
25 Heather    154
39 Lorraine   153
56 Sheila     153
28 Janice     150
40 Louise     149
38 Lorna      145
13 Derek      144
26 Hugh       138
41 Lynn       137
44 Matthew    136
29 Joan       135
57 Stewart    135
16 Eileen     131
46 Moira      131
51 Pauline    131
45 Michelle   130
27 Isobel     129
49 Pamela     126
37 Lisa       124
35 Kirsty     123
50 Patrick    123
2  Alistair   119
6  Barbara    119
5  Anthony    115
52 Rachel     115
18 Frances    113
42 Marie      113
10 Christina  112
47 Morag      112
58 Yvonne     112
22 Gerard     110
4  Amanda     107
31 Joyce      107
1  Aileen     106
30 Joanne     105
19 Francis    104
20 Fraser     104
12 Deborah    102

In [141]:
EastDunExplore$Sex[EastDunExplore$First.Name=="Lesley"]<-"?"
EastDunExplore$Sex[EastDunExplore$First.Name=="Richard"]<-"Male"
EastDunExplore$Sex[EastDunExplore$First.Name=="Carol"]<-"Female"
EastDunExplore$Sex[EastDunExplore$First.Name=="Gary"]<-"Male"
EastDunExplore$Sex[EastDunExplore$First.Name=="Kathleen"]<-"Female"
# and so on.......
# This process was carried out for any names that occurred more than 10 times and left around 4000 names which I manually changed in excel
# I looked up the majority of these names http://www.genderchecker.com/
# Once the "Sex" column data was completely populated I went on to clean-up & Re-format the Address Columns 
# I fthis process needs to be repeated I can write an functional program for it.

Warning message in `[<-.factor`(`*tmp*`, EastDunExplore$First.Name == "Lesley", :
“invalid factor level, NA generated”

CHANGES TO ADDRESS COLUMNS - MIX of EXCEL FUNCTIONS and R

In [ ]:
# Original file had the variable "Address.1" that contained the first line of the address. This was either a (i) Flat number, (ii) Name of a house (iii) Street name and number
# I placed all the Flat Numbers and House Names into a new variable "Name.Flat"
# I placed all the Street Name and Number in a new variable called "Street". These values were either taken from "Address.1" or "Address.2"

In [ ]:
# I placed all the data about Town into a new variable "Town" . This data was spread out over multiple columns depending on how many other address lines there were. 
# The Town data was deleted from all other address variables

In [ ]:
# Sometimes there was an address line that related to a nearby town. This was usually the case if the address was a small farm or village between 2 larger towns
# In these cases I put additional data into the "Nearby.Town" variable
# I changed all the cases of "Campsie Glen" to "Clachlan of Campsie" as that is the offical name under East Dunbartonshire boundaries

In [ ]:
# I created the variable "Area" which in most cases is EAST DUNBARTONSHIRE. The exceptions to this are some addresses that are in the countryside, officially not ED
# These outliers are shown as Glasgow
# The other exceptions to area are for "Other Elector" enteries that I presume are postal votes.

In [ ]:
# Note: Ideally I would like to separate the street numbers from the street address but I don't know how to automate this yet and I'm not sure it is useful
# This can be done if required using text analytics.

In [57]:
# After all this the new cleaned .csv file can be read back into R for further analysis
EastDunbartonshire <- read.csv("EastDunbartonshireER.csv")

In [58]:
# This is the final counts for how many Male, Female and Mixed/Unkown (?) cases there are in the data-base
summary(EastDunbartonshire$Sex)

     ? Female   Male
  2184  25197  23036

In [59]:
# This is the final counts for how many there are in each town
summary(EastDunbartonshire$Town)

             AUCHINSTARRY                BALDERNOCK                   BALMORE
                        4                        25                       152
                 BARDOWIE                  BEARSDEN              BISHOPBRIGGS
                       63                     12690                     11360
       CLACHAN OF CAMPSIE                 CLYDEBANK                      CROY
                       75                        11                         2
              CUMBERNAULD                 HAUGHHEAD             KIRKINTILLOCH
                        5                         7                      9659
               LENNOXTOWN                    LENZIE                 MILNGAVIE
                     2140                      4305                      5996
        MILTON OF CAMPSIE            OTHER ELECTORS TAMBOWIE_CRAIGTON VILLAGE
                     2034                        41                         9
                 TORRANCE                   TWECHAR
                     1223                       616

In [142]:
Town_list <- split(EastDunbartonshire, EastDunbartonshire$Town)

In [143]:
Town_list$CROY

      X     PD   ENO Status Sex    Title First.Name Middle.Initials Surname
27809 27809 CS55 213 E      Female       Marie      D               Scoon
27810 27810 CS55 214 E      Male         Norman     H               Scoon
      Suffix Date.Of.Attainment Franchise.Flag Name.Flat
27809                                          FOUR ARCHES HOUSE
27810                                          FOUR ARCHES HOUSE
      Street            Town Nearby.Town Area                Postcode
27809 AUCHINSTARRY ROAD CROY KILSYTH     EAST DUNBARTONSHIRE G65 3TS
27810 AUCHINSTARRY ROAD CROY KILSYTH     EAST DUNBARTONSHIRE G65 3TS

In [144]:
Town_list$CLYDEBANK

      X     PD   ENO  Status Sex    Title First.Name Middle.Initials Surname
14315 14315 EC53  449 E      Female       Margaret   B M             Barr
14316 14316 EC53 2391 A      Male         Alexander  Martin          Long
14317 14317 EC53  453 E      Male         Douglas                    Hamilton
14318 14318 EC53  454 E      Male         James                      Hamilton
14319 14319 EC53  455 E      Female       Jean                       Hamilton
14320 14320 EC53  456 E      Female       Christina  J               Bell
14321 14321 EC53  457 E      Male         David                      Bell
14322 14322 EC53  458 E      Male         William                    Logan
14323 14323 EC53  459 E      Female       Elizabeth  D               Paul
14324 14324 EC53  460 E      Male         John                       Paul
14325 14325 EC53  461 E      Female       Kathryn    M               Paul
      Suffix Date.Of.Attainment Franchise.Flag Name.Flat
14315                                          CRAIG VIEW
14316                                          LAW COTTAGE
14317                                          THE CRAIG
14318                                          THE CRAIG
14319                                          THE CRAIG
14320                                          THE SNAB
14321                                          THE SNAB
14322                                          COCHNO TOWN FARM
14323                                          WHITEHILL FARM
14324                                          WHITEHILL FARM
14325                                          WHITEHILL FARM
      Street              Town      Nearby.Town Area                Postcode
14315 2, COCHNO ROAD EAST CLYDEBANK             EAST DUNBARTONSHIRE G81 5QS
14316 COCHNO ROAD EAST    CLYDEBANK             EAST DUNBARTONSHIRE G81 5QR
14317 COCHNO ROAD EAST    CLYDEBANK             EAST DUNBARTONSHIRE G81 5QR
14318 COCHNO ROAD EAST    CLYDEBANK             EAST DUNBARTONSHIRE G81 5QR
14319 COCHNO ROAD EAST    CLYDEBANK             EAST DUNBARTONSHIRE G81 5QR
14320 COCHNO ROAD EAST    CLYDEBANK             EAST DUNBARTONSHIRE G81 5QS
14321 COCHNO ROAD EAST    CLYDEBANK             EAST DUNBARTONSHIRE G81 5QS
14322 COCHNO ROAD EAST    CLYDEBANK             EAST DUNBARTONSHIRE G81 5QS
14323 COCHNO ROAD EAST    CLYDEBANK             EAST DUNBARTONSHIRE G81 5QR
14324 COCHNO ROAD EAST    CLYDEBANK             EAST DUNBARTONSHIRE G81 5QR
14325 COCHNO ROAD EAST    CLYDEBANK             EAST DUNBARTONSHIRE G81 5QR

In [158]:
str(Town_list)

List of 20
 $ AUCHINSTARRY             :'data.frame':	4 obs. of  18 variables:
  ..$ X                 : int [1:4] 27661 27662 27663 27664
  ..$ PD                : Factor w/ 51 levels "CS50","CS51",..: 6 6 6 6
  ..$ ENO               : num [1:4] 12 13 14 15
  ..$ Status            : Factor w/ 3 levels "A","E","M": 2 2 2 2
  ..$ Sex               : Factor w/ 3 levels "?","Female","Male": 3 2 2 3
  ..$ Title             : Factor w/ 7 levels "","DR","LADY",..: 1 1 1 1
  ..$ First.Name        : Factor w/ 3629 levels "Aaron","Aarti",..: 91 672 1518 2688
  ..$ Middle.Initials   : Factor w/ 1185 levels "","A","A A","A B",..: 390 658 1 1
  ..$ Surname           : Factor w/ 6072 levels "Abbas","Abbinnett",..: 324 324 324 324
  ..$ Suffix            : Factor w/ 7 levels "","JNR","JUN",..: 1 1 1 1
  ..$ Date.Of.Attainment: Factor w/ 258 levels "","01/01/17",..: 1 1 1 1
  ..$ Franchise.Flag    : Factor w/ 4 levels "","F","G","L": 1 1 1 1
  ..$ Name.Flat         : Factor w/ 1407 levels "","1  BALJAFFRAY COTTAGES",..: 527 527 526 526
  ..$ Street            : Factor w/ 26207 levels "","1 BALQUHARRAGE FARM COTTAGES",..: 1 1 1 1
  ..$ Town              : Factor w/ 20 levels "AUCHINSTARRY",..: 1 1 1 1
  ..$ Nearby.Town       : Factor w/ 5 levels "","CLACHAN OF CAMPSIE",..: 3 3 3 3
  ..$ Area              : Factor w/ 9 levels "BEARSDEN NORTH",..: 5 5 5 5
  ..$ Postcode          : Factor w/ 2869 levels "","G33 1SA","G33 1SZ",..: 1779 1779 1779 1779
 $ BALDERNOCK               :'data.frame':	25 obs. of  18 variables:
  ..$ X                 : int [1:25] 38466 38467 38468 38469 38470 38471 38472 38473 38474 38475 ...
  ..$ PD                : Factor w/ 51 levels "CS50","CS51",..: 27 27 27 27 27 27 27 27 27 27 ...
  ..$ ENO               : num [1:25] 28 29 30 32 33 41 44 45 46 53 ...
  ..$ Status            : Factor w/ 3 levels "A","E","M": 2 2 2 2 2 2 2 2 2 2 ...
  ..$ Sex               : Factor w/ 3 levels "?","Female","Male": 2 3 3 2 3 3 3 2 3 3 ...
  ..$ Title             : Factor w/ 7 levels "","DR","LADY",..: 1 1 1 1 1 1 1 1 1 1 ...
  ..$ First.Name        : Factor w/ 3629 levels "Aaron","Aarti",..: 1443 2272 1198 1172 1501 2672 3217 1446 3551 1376 ...
  ..$ Middle.Initials   : Factor w/ 1185 levels "","A","A A","A B",..: 295 295 115 638 295 1 1 1 1 2 ...
  ..$ Surname           : Factor w/ 6072 levels "Abbas","Abbinnett",..: 1637 1637 4151 5559 5559 826 638 2342 2342 4412 ...
  ..$ Suffix            : Factor w/ 7 levels "","JNR","JUN",..: 1 1 1 1 1 1 1 1 1 1 ...
  ..$ Date.Of.Attainment: Factor w/ 258 levels "","01/01/17",..: 1 1 1 1 1 1 1 1 1 1 ...
  ..$ Franchise.Flag    : Factor w/ 4 levels "","F","G","L": 1 1 1 1 1 1 1 1 1 1 ...
  ..$ Name.Flat         : Factor w/ 1407 levels "","1  BALJAFFRAY COTTAGES",..: 538 538 539 542 542 1106 1120 1154 1154 1204 ...
  ..$ Street            : Factor w/ 26207 levels "","1 BALQUHARRAGE FARM COTTAGES",..: 1 1 1 1 1 1 1 1 1 1 ...
  ..$ Town              : Factor w/ 20 levels "AUCHINSTARRY",..: 2 2 2 2 2 2 2 2 2 2 ...
  ..$ Nearby.Town       : Factor w/ 5 levels "","CLACHAN OF CAMPSIE",..: 4 4 4 4 4 4 4 4 4 4 ...
  ..$ Area              : Factor w/ 9 levels "BEARSDEN NORTH",..: 5 5 5 5 5 5 5 5 5 5 ...
  ..$ Postcode          : Factor w/ 2869 levels "","G33 1SA","G33 1SZ",..: 762 762 762 762 762 761 765 762 762 762 ...
 $ BALMORE                  :'data.frame':	152 obs. of  18 variables:
  ..$ X                 : int [1:152] 38491 38492 38493 38494 38495 38496 38497 38498 38499 38500 ...
  ..$ PD                : Factor w/ 51 levels "CS50","CS51",..: 27 27 27 27 27 27 27 27 27 27 ...
  ..$ ENO               : num [1:152] 82 83 86 96 97 98 99 100 101 102 ...
  ..$ Status            : Factor w/ 3 levels "A","E","M": 2 2 2 2 2 2 2 2 2 2 ...
  ..$ Sex               : Factor w/ 3 levels "?","Female","Male": 2 3 2 3 3 2 2 3 3 3 ...
  ..$ Title             : Factor w/ 7 levels "","DR","LADY",..: 1 1 1 1 1 1 1 1 1 1 ...
  ..$ First.Name        : Factor w/ 3629 levels "Aaron","Aarti",..: 1330 2875 268 1391 1659 202 1012 59 1462 1501 ...
  ..$ Middle.Initials   : Factor w/ 1185 levels "","A","A A","A B",..: 1 1 295 1 1 1 1 1 1 1 ...
  ..$ Surname           : Factor w/ 6072 levels "Abbas","Abbinnett",..: 663 663 905 637 3340 3259 677 3745 3745 3745 ...
  ..$ Suffix            : Factor w/ 7 levels "","JNR","JUN",..: 1 1 1 1 1 1 1 1 1 1 ...
  ..$ Date.Of.Attainment: Factor w/ 258 levels "","01/01/17",..: 1 1 1 1 1 1 1 1 1 1 ...
  ..$ Franchise.Flag    : Factor w/ 4 levels "","F","G","L": 1 1 1 1 1 1 1 1 1 1 ...
  ..$ Name.Flat         : Factor w/ 1407 levels "","1  BALJAFFRAY COTTAGES",..: 1 1 1 31 265 325 375 375 375 375 ...
  ..$ Street            : Factor w/ 26207 levels "","1 BALQUHARRAGE FARM COTTAGES",..: 26044 26044 26091 26037 26037 26037 26037 26037 26037 26037 ...
  ..$ Town              : Factor w/ 20 levels "AUCHINSTARRY",..: 3 3 3 3 3 3 3 3 3 3 ...
  ..$ Nearby.Town       : Factor w/ 5 levels "","CLACHAN OF CAMPSIE",..: 5 5 5 1 1 1 1 1 1 1 ...
  ..$ Area              : Factor w/ 9 levels "BEARSDEN NORTH",..: 5 5 5 5 5 5 5 5 5 5 ...
  ..$ Postcode          : Factor w/ 2869 levels "","G33 1SA","G33 1SZ",..: 1702 1702 1703 1695 1695 1695 1695 1695 1695 1695 ...
 $ BARDOWIE                 :'data.frame':	63 obs. of  18 variables:
  ..$ X                 : int [1:63] 38454 38455 38456 38457 38458 38541 38542 38543 38544 38545 ...
  ..$ PD                : Factor w/ 51 levels "CS50","CS51",..: 27 27 27 27 27 27 27 27 27 27 ...
  ..$ ENO               : num [1:63] 11 12 13 14 16 183 185 187 652 188 ...
  ..$ Status            : Factor w/ 3 levels "A","E","M": 2 2 2 2 2 2 2 2 1 2 ...
  ..$ Sex               : Factor w/ 3 levels "?","Female","Male": 3 1 2 3 2 3 2 3 3 2 ...
  ..$ Title             : Factor w/ 7 levels "","DR","LADY",..: 1 1 1 1 1 1 1 1 1 1 ...
  ..$ First.Name        : Factor w/ 3629 levels "Aaron","Aarti",..: 775 3207 2216 222 3560 1501 3052 222 523 555 ...
  ..$ Middle.Initials   : Factor w/ 1185 levels "","A","A A","A B",..: 2 2 1 1 1 722 615 1 1 1 ...
  ..$ Surname           : Factor w/ 6072 levels "Abbas","Abbinnett",..: 446 446 1106 2313 2069 153 4528 2975 2975 2975 ...
  ..$ Suffix            : Factor w/ 7 levels "","JNR","JUN",..: 1 1 1 1 1 1 1 1 1 1 ...
  ..$ Date.Of.Attainment: Factor w/ 258 levels "","01/01/17",..: 1 1 1 1 1 1 1 1 1 1 ...
  ..$ Franchise.Flag    : Factor w/ 4 levels "","F","G","L": 1 1 1 1 1 1 1 1 1 1 ...
  ..$ Name.Flat         : Factor w/ 1407 levels "","1  BALJAFFRAY COTTAGES",..: 1 1 1 1 1 140 243 540 540 540 ...
  ..$ Street            : Factor w/ 26207 levels "","1 BALQUHARRAGE FARM COTTAGES",..: 14 14 7358 7358 15450 26037 26037 26037 26037 26037 ...
  ..$ Town              : Factor w/ 20 levels "AUCHINSTARRY",..: 4 4 4 4 4 4 4 4 4 4 ...
  ..$ Nearby.Town       : Factor w/ 5 levels "","CLACHAN OF CAMPSIE",..: 4 4 4 4 4 4 4 4 4 4 ...
  ..$ Area              : Factor w/ 9 levels "BEARSDEN NORTH",..: 5 5 5 5 5 5 5 5 5 5 ...
  ..$ Postcode          : Factor w/ 2869 levels "","G33 1SA","G33 1SZ",..: 757 757 757 757 757 752 752 755 755 755 ...
 $ BEARSDEN                 :'data.frame':	12690 obs. of  18 variables:
  ..$ X                 : int [1:12690] 2976 2977 2978 2979 2980 2981 2982 2983 2984 2985 ...
  ..$ PD                : Factor w/ 51 levels "CS50","CS51",..: 22 22 22 22 22 22 22 22 22 22 ...
  ..$ ENO               : num [1:12690] 3 4 6 7 13 17 18 21 22 23 ...
  ..$ Status            : Factor w/ 3 levels "A","E","M": 2 2 2 2 2 2 2 2 2 2 ...
  ..$ Sex               : Factor w/ 3 levels "?","Female","Male": 3 2 3 2 2 2 3 3 2 2 ...
  ..$ Title             : Factor w/ 7 levels "","DR","LADY",..: 1 1 1 1 1 1 1 1 1 1 ...
  ..$ First.Name        : Factor w/ 3629 levels "Aaron","Aarti",..: 2370 1172 1501 1615 2216 2216 3551 1136 3465 944 ...
  ..$ Middle.Initials   : Factor w/ 1185 levels "","A","A A","A B",..: 1 1 363 722 945 658 856 390 722 1 ...
  ..$ Surname           : Factor w/ 6072 levels "Abbas","Abbinnett",..: 3112 2894 3137 3137 6041 1417 1417 616 616 5603 ...
  ..$ Suffix            : Factor w/ 7 levels "","JNR","JUN",..: 1 1 1 1 1 1 1 1 1 1 ...
  ..$ Date.Of.Attainment: Factor w/ 258 levels "","01/01/17",..: 1 1 1 1 1 1 1 1 1 1 ...
  ..$ Franchise.Flag    : Factor w/ 4 levels "","F","G","L": 1 1 1 1 1 1 1 1 1 1 ...
  ..$ Name.Flat         : Factor w/ 1407 levels "","1  BALJAFFRAY COTTAGES",..: 1 1 1 1 1 1 1 1 1 1 ...
  ..$ Street            : Factor w/ 26207 levels "","1 BALQUHARRAGE FARM COTTAGES",..: 7412 12085 18212 18212 24993 2597 2597 4581 4581 5189 ...
  ..$ Town              : Factor w/ 20 levels "AUCHINSTARRY",..: 5 5 5 5 5 5 5 5 5 5 ...
  ..$ Nearby.Town       : Factor w/ 5 levels "","CLACHAN OF CAMPSIE",..: 1 1 1 1 1 1 1 1 1 1 ...
  ..$ Area              : Factor w/ 9 levels "BEARSDEN NORTH",..: 5 5 5 5 5 5 5 5 5 5 ...
  ..$ Postcode          : Factor w/ 2869 levels "","G33 1SA","G33 1SZ",..: 334 334 334 334 334 334 334 334 334 334 ...
 $ BISHOPBRIGGS             :'data.frame':	11360 obs. of  18 variables:
  ..$ X                 : int [1:11360] 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 ...
  ..$ PD                : Factor w/ 51 levels "CS50","CS51",..: 32 32 32 32 32 32 32 32 32 32 ...
  ..$ ENO               : num [1:11360] 1 4 5 6 8 9 11 15 16 19 ...
  ..$ Status            : Factor w/ 3 levels "A","E","M": 2 2 2 2 2 2 2 2 2 2 ...
  ..$ Sex               : Factor w/ 3 levels "?","Female","Male": 2 2 2 3 2 3 3 3 2 2 ...
  ..$ Title             : Factor w/ 7 levels "","DR","LADY",..: 1 1 1 1 1 1 1 1 1 1 ...
  ..$ First.Name        : Factor w/ 3629 levels "Aaron","Aarti",..: 2216 2286 1182 1343 2883 1379 3551 222 1330 62 ...
  ..$ Middle.Initials   : Factor w/ 1185 levels "","A","A A","A B",..: 1 115 1 446 1 171 1018 1 1 295 ...
  ..$ Surname           : Factor w/ 6072 levels "Abbas","Abbinnett",..: 2342 2105 3627 3566 4141 1374 3657 764 764 4870 ...
  ..$ Suffix            : Factor w/ 7 levels "","JNR","JUN",..: 1 1 1 1 1 1 1 1 1 1 ...
  ..$ Date.Of.Attainment: Factor w/ 258 levels "","01/01/17",..: 1 1 1 1 1 1 1 1 1 1 ...
  ..$ Franchise.Flag    : Factor w/ 4 levels "","F","G","L": 1 1 1 1 1 1 1 1 1 1 ...
  ..$ Name.Flat         : Factor w/ 1407 levels "","1  BALJAFFRAY COTTAGES",..: 1042 1046 1047 1048 1063 1064 1065 1070 1070 1073 ...
  ..$ Street            : Factor w/ 26207 levels "","1 BALQUHARRAGE FARM COTTAGES",..: 277 277 277 277 277 277 277 277 277 277 ...
  ..$ Town              : Factor w/ 20 levels "AUCHINSTARRY",..: 6 6 6 6 6 6 6 6 6 6 ...
  ..$ Nearby.Town       : Factor w/ 5 levels "","CLACHAN OF CAMPSIE",..: 1 1 1 1 1 1 1 1 1 1 ...
  ..$ Area              : Factor w/ 9 levels "BEARSDEN NORTH",..: 5 5 5 5 5 5 5 5 5 5 ...
  ..$ Postcode          : Factor w/ 2869 levels "","G33 1SA","G33 1SZ",..: 1446 1446 1446 1446 1446 1446 1446 1446 1446 1446 ...
 $ CLACHAN OF CAMPSIE       :'data.frame':	75 obs. of  18 variables:
  ..$ X                 : int [1:75] 36217 36218 36219 36220 36221 36222 36223 36224 36225 36226 ...
  ..$ PD                : Factor w/ 51 levels "CS50","CS51",..: 2 2 2 2 2 2 2 2 2 2 ...
  ..$ ENO               : num [1:75] 23 24 27 28 29 30 31 32 33 49 ...
  ..$ Status            : Factor w/ 3 levels "A","E","M": 2 2 2 2 2 2 2 2 2 2 ...
  ..$ Sex               : Factor w/ 3 levels "?","Female","Male": 3 2 3 2 2 2 3 3 2 2 ...
  ..$ Title             : Factor w/ 7 levels "","DR","LADY",..: 1 1 1 1 1 1 1 1 1 1 ...
  ..$ First.Name        : Factor w/ 3629 levels "Aaron","Aarti",..: 112 2746 1202 1927 253 672 1136 691 1481 2676 ...
  ..$ Middle.Initials   : Factor w/ 1185 levels "","A","A A","A B",..: 2 2 1 1 1 333 1 1 1 1 ...
  ..$ Surname           : Factor w/ 6072 levels "Abbas","Abbinnett",..: 4497 4497 5782 5782 4613 4613 4613 2087 2087 946 ...
  ..$ Suffix            : Factor w/ 7 levels "","JNR","JUN",..: 1 1 1 1 1 1 1 1 1 1 ...
  ..$ Date.Of.Attainment: Factor w/ 258 levels "","01/01/17",..: 1 1 1 1 1 208 1 1 1 1 ...
  ..$ Franchise.Flag    : Factor w/ 4 levels "","F","G","L": 1 1 1 1 1 1 1 1 1 1 ...
  ..$ Name.Flat         : Factor w/ 1407 levels "","1  BALJAFFRAY COTTAGES",..: 587 587 657 657 658 658 658 659 659 1 ...
  ..$ Street            : Factor w/ 26207 levels "","1 BALQUHARRAGE FARM COTTAGES",..: 1 1 1 1 1 1 1 1 1 12172 ...
  ..$ Town              : Factor w/ 20 levels "AUCHINSTARRY",..: 7 7 7 7 7 7 7 7 7 7 ...
  ..$ Nearby.Town       : Factor w/ 5 levels "","CLACHAN OF CAMPSIE",..: 1 1 1 1 1 1 1 1 1 1 ...
  ..$ Area              : Factor w/ 9 levels "BEARSDEN NORTH",..: 5 5 5 5 5 5 5 5 5 5 ...
  ..$ Postcode          : Factor w/ 2869 levels "","G33 1SA","G33 1SZ",..: 2644 2644 2644 2644 2644 2644 2644 2644 2644 2640 ...
 $ CLYDEBANK                :'data.frame':	11 obs. of  18 variables:
  ..$ X                 : int [1:11] 14315 14316 14317 14318 14319 14320 14321 14322 14323 14324 ...
  ..$ PD                : Factor w/ 51 levels "CS50","CS51",..: 16 16 16 16 16 16 16 16 16 16 ...
  ..$ ENO               : num [1:11] 449 2391 453 454 455 ...
  ..$ Status            : Factor w/ 3 levels "A","E","M": 2 1 2 2 2 2 2 2 2 2 ...
  ..$ Sex               : Factor w/ 3 levels "?","Female","Male": 2 3 3 3 2 2 3 3 2 3 ...
  ..$ Title             : Factor w/ 7 levels "","DR","LADY",..: 1 1 1 1 1 1 1 1 1 1 ...
  ..$ First.Name        : Factor w/ 3629 levels "Aaron","Aarti",..: 2216 112 880 1501 1560 650 775 3551 944 1631 ...
  ..$ Middle.Initials   : Factor w/ 1185 levels "","A","A A","A B",..: 126 786 1 1 1 526 1 1 232 1 ...
  ..$ Surname           : Factor w/ 6072 levels "Abbas","Abbinnett",..: 277 3076 2212 2212 2212 344 344 3069 4574 4574 ...
  ..$ Suffix            : Factor w/ 7 levels "","JNR","JUN",..: 1 1 1 1 1 1 1 1 1 1 ...
  ..$ Date.Of.Attainment: Factor w/ 258 levels "","01/01/17",..: 1 1 1 1 1 1 1 1 1 1 ...
  ..$ Franchise.Flag    : Factor w/ 4 levels "","F","G","L": 1 1 1 1 1 1 1 1 1 1 ...
  ..$ Name.Flat         : Factor w/ 1407 levels "","1  BALJAFFRAY COTTAGES",..: 654 1175 1326 1326 1326 1354 1354 649 1400 1400 ...
  ..$ Street            : Factor w/ 26207 levels "","1 BALQUHARRAGE FARM COTTAGES",..: 7524 26076 26076 26076 26076 26076 26076 26076 26076 26076 ...
  ..$ Town              : Factor w/ 20 levels "AUCHINSTARRY",..: 8 8 8 8 8 8 8 8 8 8 ...
  ..$ Nearby.Town       : Factor w/ 5 levels "","CLACHAN OF CAMPSIE",..: 1 1 1 1 1 1 1 1 1 1 ...
  ..$ Area              : Factor w/ 9 levels "BEARSDEN NORTH",..: 5 5 5 5 5 5 5 5 5 5 ...
  ..$ Postcode          : Factor w/ 2869 levels "","G33 1SA","G33 1SZ",..: 2869 2868 2868 2868 2868 2869 2869 2869 2868 2868 ...
 $ CROY                     :'data.frame':	2 obs. of  18 variables:
  ..$ X                 : int [1:2] 27809 27810
  ..$ PD                : Factor w/ 51 levels "CS50","CS51",..: 6 6
  ..$ ENO               : num [1:2] 213 214
  ..$ Status            : Factor w/ 3 levels "A","E","M": 2 2
  ..$ Sex               : Factor w/ 3 levels "?","Female","Male": 2 3
  ..$ Title             : Factor w/ 7 levels "","DR","LADY",..: 1 1
  ..$ First.Name        : Factor w/ 3629 levels "Aaron","Aarti",..: 2243 2603
  ..$ Middle.Initials   : Factor w/ 1185 levels "","A","A A","A B",..: 232 446
  ..$ Surname           : Factor w/ 6072 levels "Abbas","Abbinnett",..: 5122 5122
  ..$ Suffix            : Factor w/ 7 levels "","JNR","JUN",..: 1 1
  ..$ Date.Of.Attainment: Factor w/ 258 levels "","01/01/17",..: 1 1
  ..$ Franchise.Flag    : Factor w/ 4 levels "","F","G","L": 1 1
  ..$ Name.Flat         : Factor w/ 1407 levels "","1  BALJAFFRAY COTTAGES",..: 1080 1080
  ..$ Street            : Factor w/ 26207 levels "","1 BALQUHARRAGE FARM COTTAGES",..: 26032 26032
  ..$ Town              : Factor w/ 20 levels "AUCHINSTARRY",..: 9 9
  ..$ Nearby.Town       : Factor w/ 5 levels "","CLACHAN OF CAMPSIE",..: 3 3
  ..$ Area              : Factor w/ 9 levels "BEARSDEN NORTH",..: 5 5
  ..$ Postcode          : Factor w/ 2869 levels "","G33 1SA","G33 1SZ",..: 1780 1780
 $ CUMBERNAULD              :'data.frame':	5 obs. of  18 variables:
  ..$ X                 : int [1:5] 48532 48638 48661 48662 48663
  ..$ PD                : Factor w/ 51 levels "CS50","CS51",..: 11 11 11 11 11
  ..$ ENO               : num [1:5] 247 386 422 423 425
  ..$ Status            : Factor w/ 3 levels "A","E","M": 2 2 2 2 2
  ..$ Sex               : Factor w/ 3 levels "?","Female","Male": 2 2 2 3 3
  ..$ Title             : Factor w/ 7 levels "","DR","LADY",..: 1 1 1 1 1
  ..$ First.Name        : Factor w/ 3629 levels "Aaron","Aarti",..: 1927 950 1456 2875 3283
  ..$ Middle.Initials   : Factor w/ 1185 levels "","A","A A","A B",..: 374 1 1 1 1
  ..$ Surname           : Factor w/ 6072 levels "Abbas","Abbinnett",..: 4565 3764 4827 4827 4827
  ..$ Suffix            : Factor w/ 7 levels "","JNR","JUN",..: 1 1 1 1 1
  ..$ Date.Of.Attainment: Factor w/ 258 levels "","01/01/17",..: 1 1 1 1 1
  ..$ Franchise.Flag    : Factor w/ 4 levels "","F","G","L": 1 1 1 1 1
  ..$ Name.Flat         : Factor w/ 1407 levels "","1  BALJAFFRAY COTTAGES",..: 509 1101 676 676 676
  ..$ Street            : Factor w/ 26207 levels "","1 BALQUHARRAGE FARM COTTAGES",..: 26098 26105 26143 26143 26143
  ..$ Town              : Factor w/ 20 levels "AUCHINSTARRY",..: 10 10 10 10 10
  ..$ Nearby.Town       : Factor w/ 5 levels "","CLACHAN OF CAMPSIE",..: 1 1 1 1 1
  ..$ Area              : Factor w/ 9 levels "BEARSDEN NORTH",..: 6 6 6 6 6
  ..$ Postcode          : Factor w/ 2869 levels "","G33 1SA","G33 1SZ",..: 2865 2865 2864 2864 2864
 $ HAUGHHEAD                :'data.frame':	7 obs. of  18 variables:
  ..$ X                 : int [1:7] 36348 36349 36350 36351 36352 36353 36354
  ..$ PD                : Factor w/ 51 levels "CS50","CS51",..: 2 2 2 2 2 2 2
  ..$ ENO               : num [1:7] 253 254 255 256 262 263 296
  ..$ Status            : Factor w/ 3 levels "A","E","M": 2 2 2 2 2 2 1
  ..$ Sex               : Factor w/ 3 levels "?","Female","Male": 3 2 3 2 3 2 3
  ..$ Title             : Factor w/ 7 levels "","DR","LADY",..: 1 1 1 1 1 1 1
  ..$ First.Name        : Factor w/ 3629 levels "Aaron","Aarti",..: 3408 2620 91 863 222 2078 1631
  ..$ Middle.Initials   : Factor w/ 1185 levels "","A","A A","A B",..: 1 154 232 1082 390 154 1018
  ..$ Surname           : Factor w/ 6072 levels "Abbas","Abbinnett",..: 3502 4210 2869 4600 4211 4211 733
  ..$ Suffix            : Factor w/ 7 levels "","JNR","JUN",..: 1 1 1 1 1 1 1
  ..$ Date.Of.Attainment: Factor w/ 258 levels "","01/01/17",..: 1 1 1 1 1 1 1
  ..$ Franchise.Flag    : Factor w/ 4 levels "","F","G","L": 1 1 1 1 1 1 1
  ..$ Name.Flat         : Factor w/ 1407 levels "","1  BALJAFFRAY COTTAGES",..: 1 1 1 1 1 1 660
  ..$ Street            : Factor w/ 26207 levels "","1 BALQUHARRAGE FARM COTTAGES",..: 19984 20239 21250 21250 22120 22120 26177
  ..$ Town              : Factor w/ 20 levels "AUCHINSTARRY",..: 11 11 11 11 11 11 11
  ..$ Nearby.Town       : Factor w/ 5 levels "","CLACHAN OF CAMPSIE",..: 2 2 2 2 2 2 2
  ..$ Area              : Factor w/ 9 levels "BEARSDEN NORTH",..: 5 5 5 5 5 5 5
  ..$ Postcode          : Factor w/ 2869 levels "","G33 1SA","G33 1SZ",..: 2645 2645 2645 2645 2645 2645 2644
 $ KIRKINTILLOCH            :'data.frame':	9659 obs. of  18 variables:
  ..$ X                 : int [1:9659] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ PD                : Factor w/ 51 levels "CS50","CS51",..: 5 5 5 5 5 5 5 5 5 51 ...
  ..$ ENO               : num [1:9659] 1 2 3 4 5 6 7 8 9 1 ...
  ..$ Status            : Factor w/ 3 levels "A","E","M": 2 2 2 2 2 2 2 2 2 2 ...
  ..$ Sex               : Factor w/ 3 levels "?","Female","Male": 2 3 3 2 3 2 2 2 3 2 ...
  ..$ Title             : Factor w/ 7 levels "","DR","LADY",..: 1 1 1 1 1 1 1 1 1 1 ...
  ..$ First.Name        : Factor w/ 3629 levels "Aaron","Aarti",..: 944 1146 1146 199 1631 2936 1322 1520 3551 1511 ...
  ..$ Middle.Initials   : Factor w/ 1185 levels "","A","A A","A B",..: 1 1 526 1 1 1 1 1 1 14 ...
  ..$ Surname           : Factor w/ 6072 levels "Abbas","Abbinnett",..: 3600 3600 3600 5495 5495 5495 1991 1991 1991 4490 ...
  ..$ Suffix            : Factor w/ 7 levels "","JNR","JUN",..: 1 1 1 1 1 1 1 1 1 1 ...

In [164]:
Croy <- as.data.frame(table(Town_list$CROY$Sex))
Auchinstarry <- as.data.frame(table(Town_list$AUCHINSTARRY$Sex))
Baldernock <- as.data.frame(table(Town_list$BALDERNOCK $Sex))
Balmore <- as.data.frame(table(Town_list$BALMORE$Sex))
Bardowie <- as.data.frame(table(Town_list$BARDOWIE$Sex))
Bearsden <- as.data.frame(table(Town_list$BEARSDEN$Sex))
Bishopbriggs <- as.data.frame(table(Town_list$BISHOPBRIGGS$Sex))
Clydebank <- as.data.frame(table(Town_list$CLYDEBANK$Sex))
Cumbernauld <- as.data.frame(table(Town_list$CUMBERNAULD$Sex))
Haughhead <- as.data.frame(table(Town_list$HAUGHHEAD$Sex))
Kirkintilloch <- as.data.frame(table(Town_list$KIRKINTILLOCH$Sex))
Lennoxtown <- as.data.frame(table(Town_list$LENNOXTOWN$Sex))
Milngavie <- as.data.frame(table(Town_list$MILNGAVIE$Sex))
Torrance <- as.data.frame(table(Town_list$TORRANCE$Sex))
Twechar <- as.data.frame(table(Town_list$TWECHAR$Sex))
CampsieGlen <- as.data.frame(table(Town_list$CLACHAN$Sex))
MiltonCampsie <- as.data.frame(table(Town_list$MILTON$Sex))
Postal <- as.data.frame(table(Town_list$OTHER$Sex))
Tambowie <- as.data.frame(table(Town_list$TAMBOWIE$Sex))

In [136]:
Croy

  Var1   Freq
1 ?      0
2 Female 1
3 Male   1

In [119]:
Kirkintilloch

  Var1   Freq
1 ?       312
2 Female 4900
3 Male   4447

In [165]:
Kirkintilloch$Freq

[1]  312 4900 4447

In [166]:
MiltonCampsie

  Var1   Freq
1 ?        80
2 Female 1012
3 Male    942